<div class="game-container">
  <mat-card class="game-card">
    <mat-card-header>
      <mat-card-title>¡Adivina el Color!</mat-card-title>
      <mat-card-subtitle>Diviértete y aprende</mat-card-subtitle>
    </mat-card-header>

    <div class="game-content">
      <!-- Contenedor para la imagen con tamaño fijo -->
      <div class="image-wrapper">
        <img
          [src]="currentQuestion().image"
          [alt]="currentQuestion().correctColor"
        />
      </div>

      <!-- Botón de reproducción del audio con ícono -->
      <button
        mat-icon-button
        class="play-button"
        (click)="playAudio(currentQuestion().audio)"
      >
        <mat-icon>volume_up</mat-icon>
      </button>

      <!-- Opciones de respuesta -->
      <div class="options">
        @for (option of currentQuestion().options; track option) {
        <button
          mat-stroked-button
          color="primary"
          (click)="selectOption(option)"
        >
          {{ option }}
        </button>
        }
      </div>
    </div>

    <mat-card-actions class="game-actions">
      <button mat-raised-button color="accent" (click)="nextQuestion()">
        Siguiente
      </button>
    </mat-card-actions>
  </mat-card>
</div>
