<div class="home-container">
  <div class="hero-content">
    <h1>¡Bienvenidos a Rainbow Learners!</h1>
    <h2>Aprender colores en inglés nunca fue tan divertido</h2>
    <p>
      Rainbow Learners es una plataforma en línea gratuita diseñada para enseñar
      a los niños de edad preescolar los colores en inglés de una forma amigable
      y entretenida.
    </p>
    <p>
      Con imágenes coloridas, audios claros y juegos interactivos, tu pequeño
      reforzará el vocabulario y la memoria mientras ¡se divierte en un mundo
      lleno de color!
    </p>
    <p>
      ¡Explora nuestras actividades, descubre canciones y disfruta viendo cómo
      aprender puede ser algo fácil y alegre!
    </p>
    <!-- Contenedor para los botones, que permite aplicar un espacio consistente -->
    <div class="hero-actions">
      <button mat-raised-button color="accent" [routerLink]="['/colors']">
        Explorar Colores
      </button>
      <button mat-raised-button color="primary" [routerLink]="['/game']">
        Jugar
      </button>
    </div>
  </div>
</div>
